<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/new.css"/>
    <title>Add Jurisdictions Config</title>
</head>
<body>
<div th:replace="common :: header"></div>
<div class="new_div" align="center">

    <label class="title-label">Add new configuration value</label>
    <br/>
    <form name="myForm" action="#" th:action="@{/saveJurisdictionConfig}" th:object="${newJurConfig}"
          method="post">
        <table border="0" cellpadding="10" name="myTable">
            <tr>
                <td>Jurisdiction code :</td>
                <td>
                    <select th:field="*{jurisdiction}">
                        <option th:each="jurisdiction : ${jurisdictionList}" th:value="${jurisdiction.getId()}"
                                th:text="${jurisdiction.getCode()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Configuration key :</td>
                <td>
                    <select th:field="*{configuration}">
                        <option th:each="config: ${configurationList}" th:value="${config.getId()}"
                                th:text="${config.getKey()}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Value :</td>
                <td><input id="myValue" type="text" th:field="*{value}"/>
                    <label style="color: red;font-weight: bold" th:if="${#fields.hasErrors('value')}"
                           th:errors="*{value}"> Value can't be blank</label></td>
            </tr>
            <tr>
                <td>comments :</td>
                <td><input type="text" th:field="*{comment}"/></td>
            </tr>
            <tr>

                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <p id="message" th:text="${message} "></p>
</div>
</body>
</html>