<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/main.css"/>
    <title>Jurisdictions List</title>
</head>
<script>
    function showNewCodeDiv() {
        document.getElementById("new_code_div").style.visibility = 'visible';
    }
</script>
<body>

<div class = "main-dev" >
    <nav class="nav_header">
        <ul >
            <div style="display: inline;float: left">
                <a class="jas_links" th:href="@{/}">Home</a>&nbsp&nbsp
            </div>
        </ul>

    </nav>
    <br />
   <table class="caption_table">
        <caption id="header">
            List of Jurisdictions codes<br/>
            <div align="right" id="rowcount"></div>
        </caption>
    </table>
    <table id="jur_list" class="jur_table">
        <thead>
        <tr>
            <th>Jurisdiction Code</th>
            <th>Jurisdiction Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="jurList : ${jurisdictions}" class="items">
            <td th:text="${jurList.getCode()}"></td>
            <td th:text="${jurList.getName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<br/>

<div style="margin-left: 25%">
    <button id="add_code" onclick="showNewCodeDiv()">Add new code</button>
</div>
<br/>
<div id="new_code_div" align="center">
    <form action="#" th:action="@{/saveJurisdiction}" th:object="${newJurisdiction}" method="post">
        <br/>
        <label>Jurisdiction code : </label>&nbsp&nbsp;<input type="text" th:field="*{code}"/>
        <div class="input-div"></div>
        <label>Jurisdiction name : </label>&nbsp;<input  type="text" th:field="*{name}"/>
        <div class="input-div"></div>
        <input type="submit"  value="Save" style="margin-left: 20%"></input>
    </form>
    <br/>
</div>

</body>
</html>